.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 48px;
}

.status-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12px 0;
  padding: 0 12px;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: calc(100vh - 250px);
}
