.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
}

.status-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12px 0;
  padding: 0 24px;
}
